 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>TokMovies is a simple movie rating platform, let your provide list of movies based on users rating.</p>
                </div>
                <div class="col-lg-4">
                    <p>The site enables any user to submit new material. Users are also invited to rate any film on a scale of 1 to 10. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-btc"></i> Donate
                    </a>
                </div>
            </div>
        </div>
    </section>