<!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal<%= i %>" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2><%= moviesData[i].name %></h2>
                            <hr class="star-primary">
                            <img src="<%= moviesData[i].thumb %>" class="img-responsive img-centered" alt="">
                            <p><%= moviesData[i].review %></p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="h#">Rate Movie</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="#">December 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="#">Movie Rating</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>