<!DOCTYPE html>
<html lang="en">

<% include head.ejs %>

<body id="page-top" class="index">

    <!-- navigation -->
    <% include nav.ejs %>

    <% include header.ejs %>

    <% include profolio.ejs %>

     <% include about.ejs %>

   	<% include contact.ejs %>

    <% include footer.ejs %>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visble-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <% for(var i=1; i<moviesData.length; i++){ %>
    <% include single_profolio.ejs %>
    <% } %>

   <% include jsfile.ejs %>

</body>

</html>
