<!DOCTYPE html>
<html lang="en">

<% include partials/head.ejs %>

<body id="page-top" class="index">

    <!-- navigation -->
    <% include partials/nav.ejs %>

    <% include partials/header.ejs %>

    <% include partials/profolio.ejs %>

     <% include partials/about.ejs %>

   	<% include partials/contact.ejs %>

    <% include partials/form.ejs %>

    <% include partials/footer.ejs %>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visble-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <% for(var i=1; i<moviesData.length; i++){ %>
    <% include partials/single_profolio.ejs %>
    <% } %>

   <% include partials/jsfile.ejs %>

</body>

</html>
