<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%= title %></title>
</head>
<body>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua.
	</p>
	<p>Array display:
		<ul>
			<% for( var i = 0 ; i <= names.length ; i++){ %>
			<li><%= names[i] %></li>
			<% } %>
		</ul>
	</p>

</body>
</html>